
<div>
    <a href="@ViewBag.SocialMediaLinksOptions.Facebook">Facebook</a>
</div>

<environment exclude="Development">
    <a href="@ViewBag.SocialMediaLinksOptions.Instagram">Instagram</a>
</environment>

<div>
    <a href="@ViewBag.SocialMediaLinksOptions.Twitter">Twitter</a>
</div>

<div>
    <a href="@ViewBag.SocialMediaLinksOptions.Youtube">Youtube</a>
</div>

